<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="5"/>
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/> <!--cổng gmail là 587-->
  <add key="FromEmailAddress" value="youandproit@gmail.com"/>
  <add key="FromEmailPassword" value="0903808834"/>
  <add key="FromName" value="Lukas"/>
  <add key="AdminEmail" value="youandpro@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:9579/"/>
  <add key="EnableBundles" value="false"/>
  <!--Setting Ngan Luong payment-->
  <add key="MerchantId" value=""/>
  <add key="MerchantPassword" value=""/>
  <add key="MerchantEmail" value="dat.nguyenthaithanh@hotmail.com"/>
  <add key="ReportFolder" value="/Reports"/>
</appSettings>